/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
*  Copyright (c) 2015, Lenovo.
*  Copyright (c) 2020, the_shahnawaz_sheikh (sheikhshahnawaz41299).
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

#include "msm8939-pinctrl-pb1770m.dtsi"
#include "msm8939-common-pb1770m.dtsi"
#include "dsi-panel-nt35596-1080p-skuk-video.dtsi"
#include "dsi-panel-nt35532-1080p-skuk-video.dtsi"
#include "msm8939-camera-pb1770m.dtsi"

&soc {
	
	i2c@78ba000 { /* BLSP1 QUP6 */
		goodix@5d {
			compatible = "goodix,gt9xx";
			reg = <0x5d>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <13 0x2008>;
			vdd-supply = <&pm8916_l17>;
			vcc_i2c-supply = <&pm8916_l6>;
			pinctrl-names = "pmx_ts_active","pmx_ts_suspend";
			pinctrl-0 = <&ts_int_active &ts_reset_active>;
			pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;
			goodix,name = "gt9xx";
			goodix,family-id = <0x14>;
			goodix,reset-gpio = <&msm_gpio 12 0x0>;
			goodix,irq-gpio = <&msm_gpio 13 0x2008>;
			goodix,display-coords = <0 0 1080 1920>;
			goodix,panel-coords = <0 0 1080 2098>;
			goodix,button-map= <139 102 158>;
			goodix,no-force-update;
			goodix,i2c-pull-up;
			goodix,group-id = <1>;
			goodix,fw-upgrade-id1 = <0x11>;
			goodix,fw-upgrade-id2 = <0x11>;
			goodix,fw-delay-readid-ms = <10>;
			goodix,fw-delay-era-flsh-ms = <2000>;
			goodix,fw-auto-cal;
			goodix,ignore-id-check;
	    };
	};
	
	i2c@78b9000 { /* BLSP1 QUP5 */
	    
		/delete-node/ focaltech@38;
	};
	
	
	hall_sensor {
		compatible = "qcom,hall";
		input-name = "hall_sensor";

		pinctrl-names = "s5712_default";
		pinctrl-0 = <&hall_sensor_default>;
		interrupt-parent = <&msm_gpio>;
		interrupts = <117 0x2003>;//<117 0x2002>;
		hall,int-gpio = <&msm_gpio 117 0x2003>;
		hall,input-type = <1>;
		hall,active-lvl = <0>;
		hall,active_code = <148>;
		hall,inactive_code = <149>;
		hall,debounce-interval = <20>;
	};
	
};

&i2c_0 { /* BLSP1 QUP2 */
	avago@39 { /* Ambient light and proximity sensor */
		compatible = "avago,apds9930";
		reg = <0x39>;
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&apds99xx_default>;
		pinctrl-1 = <&apds99xx_sleep>;
		interrupt-parent = <&msm_gpio>;
		interrupts = <113 0x2002>;
		vdd-supply = <&pm8916_l17>;
		vio-supply = <&pm8916_l6>;
		avago,irq-gpio = <&msm_gpio 113 0x2002>;
		avago,ps-threshold = <600>;
		avago,ps-hysteresis-threshold = <500>;
		avago,ps-pulse = <8>;
		avago,ps-pgain = <0>;
		avago,als-B = <186>;
		avago,als-C = <75>;
		avago,als-D = <129>;
		avago,ga-value = <560>;
	};

	bosch@18 { /* Accelerometer sensor */
		compatible = "bosch,bma2x2";
		reg = <0x18>;
		pinctrl-names = "bma_default","bma_sleep";
		pinctrl-0 = <&bma2x2_int1_default &bma2x2_int2_default>;
		pinctrl-1 = <&bma2x2_int1_sleep &bma2x2_int2_sleep>;
		interrupt-parent = <&msm_gpio>;
		interrupts = <112 0x2002>;
		vdd-supply = <&pm8916_l17>;
		vio-supply = <&pm8916_l6>;
		bosch,init-interval = <200>;
		/delete-property/ bosch,place;
		bosch,place = <6>;//<2>;
		bosch,gpio-int1 = <&msm_gpio 112 0x2002>;
		bosch,gpio-int2 = <&msm_gpio 114 0x2002>;
	};
	
	tr@23 { /* Ambient light and proximity sensor */ 
                        compatible = "ltr,ltr559"; 
                        reg = <0x23>; 
                        pinctrl-names = "default","sleep"; 
                        pinctrl-0 = <&ltr_default>; 
                        pinctrl-1 = <&ltr_sleep>; 
                        interrupt-parent = <&msm_gpio>; 
                        interrupts = <115 0x2002>; 
                        vdd-supply = <&pm8916_l17>; 
                        vio-supply = <&pm8916_l6>; 
                        ltr,irq-gpio = <&msm_gpio 115 0x2002>; 
                        ltr,ps-threshold = <650>; 
                        ltr,ps-hysteresis-threshold = <500>; 
                        ltr,als-polling-time = <200>; 
        }; 

	memsic@30 { /* Magnetic field sensor */
		compatible = "memsic,mmc3524x";
		reg = <0x30>;
		vdd-supply = <&pm8916_l17>;
		vio-supply = <&pm8916_l6>;
		memsic,dir = "obverse-x-axis-forward";
		memsic,auto-report;
	};
	
	/delete-node/ memsic@30;
	
	tps65132@3e {
		compatible = "ti,tps65132";
		reg = <0x3e>;
		i2c-pwr-supply = <&pm8916_l6>;
		ti,en-gpio-lpm;
		pinctrl-names = "default";
		pinctrl-0 = <&tps65132_en_default>;

		regulators {
			tps65132_pos: pos-boost {
				regulator-name = "tps65132-pos";
				regulator-min-microvolt = <5900000>;
				regulator-max-microvolt = <5900000>;
				ti,discharge-enable;
				ti,enable-time = <800>;
				ti,current-limit = <200000>;
				ti,en-gpio = <&msm_gpio 97 0>;
			};

			tps65132_neg: neg-boost {
				regulator-name = "tps65132-neg";
				regulator-min-microvolt = <5900000>;
				regulator-max-microvolt = <5900000>;
				ti,discharge-enable;
				ti,enable-time = <800>;
				ti,current-limit = <40000>;
				ti,en-gpio = <&msm_gpio 98 0>;
			};
		};
	};
	
};

&i2c_4 {
	smb358_otg_supply: smb358-charger@6A {
		compatible = "qcom,smb358-charger";
		reg = <0x6A>;
		qcom,irq-gpio = <&msm_gpio 62 2>;
		vcc-i2c-supply = <&pm8916_l5>;
		qcom,float-voltage-mv = <4350>;
		qcom,recharge-mv = <50>;
		qcom,chg-vadc = <&pm8916_vadc>;
		qcom,chg-adc_tm = <&pm8916_adc_tm>;
		qcom,chg-inhibit-disabled;
		qcom,bms-controlled-charging;
		qcom,using-pmic-therm;
		qcom,chg-green = <&msm_gpio 119 2>;
		qcom,chg-blue = <&msm_gpio 8 2>;
		regulator-name = "smb358_otg_vreg";
		qcom,fastchg-current-max-ma = <1800>;
		qcom,iterm-ma = <100>;
		qcom,bms-psy-name = "bms";
		qcom,hot-bat-decidegc = <500>;
		qcom,cold-bat-decidegc = <0>;
		qcom,bat-present-decidegc = <200>;
		qcom,warm-bat-decidegc = <450>;
		qcom,cool-bat-decidegc = <150>;
		qcom,warm-bat-ma = <1800>;
		qcom,cool-bat-ma = <720>;
		qcom,warm-bat-mv = <4100>;
		qcom,cool-bat-mv = <4350>;
	};
};

&sdc2_cd_on {
	/delete-property/ bias-pull-down;
	bias-pull-up;
};

&sdc2_cd_off {
	/delete-property/ bias-pull-down;
	bias-pull-up;
};

&sdhc_2 {
  /delete-property/	qcom,nonhotplug;
	interrupts = <0 1>;
	interrupt-map = <0 &intc 0 125 0
		1 &intc 0 221 0>;
	interrupt-names = "hc_irq", "pwr_irq";
    /delete-property/ cd-gpios;
	cd-gpios = <&msm_gpio 38 0x1>;
};	

&pmx_mdss {
	qcom,num-grp-pins = <1>;
	qcom,pins = <&gp 25>;
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_nt35532_1080p_skuk_video>;
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active>;
	pinctrl-1 = <&mdss_dsi_suspend>;
	
	/delete-property/ vdda-supply;
	/delete-property/ vdd-supply;
	/delete-property/ qcom,dsi-clk-ln-recovery;

	qcom,platform-reset-gpio = <&msm_gpio 25 0>;
	qcom,platform-enable-gpio = <&msm_gpio 2 0>;
	/delete-property/ qcom,platform-te-gpio;
	/delete-property/ qcom,platform-bklight-en-gpio;

	vsp-supply = <&tps65132_pos>;
	vsn-supply = <&tps65132_neg>;

	qcom,ctrl-supply-entries {
		/delete-node/ qcom,ctrl-supply-entry@0;
	};
	
	/delete-node/ qcom,ctrl-supply-entries;

	qcom,panel-supply-entries {
		/delete-node/qcom,panel-supply-entry@0;

		qcom,panel-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vsp";
			qcom,supply-min-voltage = <5900000>;
			qcom,supply-max-voltage = <5900000>;
			qcom,supply-enable-load = <200>;
			qcom,supply-disable-load = <0>;
		};

		qcom,panel-supply-entry@3 {
			reg = <3>;
			qcom,supply-name = "vsn";
			qcom,supply-min-voltage = <5900000>;
			qcom,supply-max-voltage = <5900000>;
			qcom,supply-enable-load = <40>;
			qcom,supply-disable-load = <0>;
		};
	};

};

&dsi_nt35532_1080p_skuk_video {
	qcom,cont-splash-enabled;
	//qcom,esd-check-enabled;
	//qcom,mdss-dsi-pan-enable-dynamic-fps;
	//qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode";
};

/ {
	qrd_batterydata: qcom,battery-data {
		qcom,rpull-up-kohm = <0x64>;
		qcom,vref-batt-therm = <0x1b7740>;

		#include "batterydata-qrd-skuh-4v35-3600mah.dtsi"
		#include "batterydata-qrd-skuh-4v35-3500mah.dtsi"
	};
};

